* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 40px;
  background-color: #e5e5e5;
}
h2 {
  text-decoration: underline;
  margin-bottom: 20px;
  color: white;
}
html {
  position: relative;
  background-image: url(../img/fruitAndVeg.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 50px;
  border-radius: 0.25em;
  height: 100;
}
img {
  margin-bottom: 40px;
  align-content: center;
}

html::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
  border-radius: 0.25em
}

.main-heading,
p {
  color: white;
  z-index: 10;
  padding: 1em;
  font-weight: 500 !important;
}

/* search button */
/* .budget-btn, .search-btn {
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 15px;
  width: 100px;
  background-color: #9d8189;
  color: black;
  box-shadow: 0px 0px 2px 2px white;
  font-weight: 800;
  margin-bottom: 40px;
  margin-right: 70px;
} */

.calculate-button {
  border-radius: 8px;
  cursor: pointer;
  padding: 10px 15px;
  width: 100px;
  background-color: #9d8189;
  color: black;
  box-shadow: 0px 0px 2px 2px white;
  font-weight: 800;
  margin-bottom: 40px;
  margin-right: 70px;
  padding-right: 20px;
}
.content {
  padding: 1em;
  margin: 2em;
}
input {
  margin-right: 20px;
}
.calculate {
  color:black;
  background-color:cyan;
  font-size:x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
table,
td {
  padding: 15px;
}

.wrapper {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* canvas styling */
.canvas-container {
  width: 400px;
}

/* Media Query */

@media (max-width: 700px) {
  input {
    margin-bottom: 20px;
  }
  .budget-btn {
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 10px;
    width: 100px;
    background-color: #9d8189;
    color: black;
    box-shadow: 0px 0px 2px 2px white;
    font-weight: 800;
    margin-bottom: 40px;
    margin-right: 70px;
    text-align: right;
  }
  .wrapper {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
  }
}
